{% extends 'base.html' %}
{% load static %}

{% block title %}
Full Stack Web Developer
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css%}

{% block meta %}
<meta name="description" content="A Full Stack Developer based in the North West of England using the Python Web Framework
 Django to create functional, user-friendly web applications">
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card h-400">
                <div class="card-title p-20 vertical-align">
                    <h1 class="staal weight-700">Hi, I'm Matt! <br> A Full Stack Developer.</h1>
                    <p class="p-0 m-0 text-muted font-size-8">See my <a class="mouse-pointer" href="{% url 'development' %}">development projects.</a></p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-title text-center">
                    <div class="avatar text-center">
                        <img src="{% static 'images/avatar.jpg' %}" class="img-fluid rounded-circle w-50 h-50" alt="rounded circle image">
                    </div>
                    About Me
                </div>
                <div class="flex-grow-1 overflow-y-hidden d-flex align-items-center position-relative h-120">
                    <div class="p-10 w-full m-auto">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <p class="font-size-12 mt-5 mb-0">
                                    A Full Stack Developer from the North West of England using the Python Django Framework to create web applications.
                                    I primarily use the Django Framework when creating web applications however I do also have exprience in using Flask 
                                    but I am open to learning new frameworks and technologies.
                                </p>
                                <p class="font-size-12 mt-5 mb-0">
                                    I'm currently looking into learning React along side Django Rest Framework to provide more visually pleasing
                                    and functional applications for users. 
                                </p>
                            </div>
                            <div class="col-md-4 col-12 px-5">
                                <p class="font-size-12 mt-5 mb-0">
                                    I started my developer story in 2017 when I was filling in and printing off invoices for a friends garage everyday and 
                                    thought <q><em>there has to be a better way to do this</em></q>.
                                </p>
                                <p class="font-size-12 mt-5 mb-0"> 
                                    I then went about learning and building a very simple PHP application to be able to email PDF invoices to customers saving 
                                    me & my friend time from exchanging information and reducing the amount of paper invoices being produced. 
                                </p>
                            </div>
                            <div class="col-md-4 col-12 pl-5">
                                <p class="font-size-12 mt-5 mb-0">
                                    Once completing this web application seeing what I had built was being used and the knowledge I had gethered I decided this is what I wanted to do 
                                    for a living, <b>software development</b>. In late 2018 I enrolled with 
                                    <a href="https://codeinstitute.net/" target="_blank" rel="noopener">Code Institute
                                        <i class="fas fa-external-link-alt"></i>
                                    </a> on the Full Stack Software Development course which I at the end I earned First Class Honours🎓. 
                                </p>
                                <p class="font-size-12 mt-5 mb-0">
                                    During the course I learnt fundamentals in HTML, CSS, Javascript, & Python along with associated web frameworks 
                                    Flask and Django. You can see projects I created in this course (and out of it!) on the <a href="{% url 'development' %}">Developments Page</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card d-flex">
                <div class="row">
                    <div class="col-md-3 col-12">
                        <div class="rounded d-flex align-items-center justify-content-center" style="background-color: white">
                            <img src="{{project.logo.url}}" alt="{{project.name}}" class="d-block w-100 h-100 rounded">
                        </div>
                    </div>
                    <div class="col-md-9 col-12">
                        <div class="flex-grow-1 overflow-y-hidden d-flex align-items-center position-relative h-120">
                            <div class="p-10 w-full m-auto">
                                <p class="font-size-10 text-dark-lm text-light-dm m-0 mb-5 text-truncate font-weight-medium">
                                    {{project.name}}
                                </p>
                                <p class="font-size-12 mt-5 mb-0">
                                    {{project.description|truncatechars:100}}
                                    <a class="text-primary text-smoothing-auto-dm d-inline-block mouse-pointer"
                                        href="{% url 'development' %}">
                                        Development Page <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-title">
                    Want a copy of my CV?
                </div>
                <div class="flex-grow-1 overflow-y-hidden d-flex align-items-center position-relative h-120">
                    <div class="p-10 w-full m-auto">
                        <p class="font-size-12 mt-5 mb-0">
                            A you can request a copy of my CV on the <a class="mouse-pointer" href="{% url 'contact' %}">contact page</a>.
                            It'll give you some options on how to get in-touch with me to obtain the most update to date copy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}