{% extends 'base.html' %}
{% load static %}
{% block title %}
Contact me!
{% endblock title %}

{% block meta %}
<meta name="description" content="">
{% endblock meta%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1 class="staal weight-700">Contact</h1> 
    </div>
    <div class="row">
        <div class="offset-md-2 col-md-8 col-12">         
            <div class="row">
                <div class="col-12 p-15">
                    <div class="font-size-18 staal weight-700">
                        Getting in contact
                    </div>
                    <div class="font-size-14 roboto">
                        <p>You can contact me via <a href="mailto:matt@mspe.me">e-mail</a> or you can message me on <a href="https://www.linkedin.com/in/mspe/">LinkedIn <i class="fas fa-external-link-alt"></i>.</a></p>
                        <p>I will aim to reply to either platforms within 72 hours.</p>
                    </div>
                </div>
                <div class="col-12 p-15">
                    <div class="font-size-18 staal weight-700">
                        Requesting a copy of my CV
                    </div>
                    <div class="font-size-14 roboto">
                        <p>You can request a copy of my CV by e-mailing me where I will send my most update to date CV.</p>
                        <p>If you request my CV <b>please read it through before contacting me regarding a position or for a chat.</b></p>
                        <p class="text-decoration-underline">Why can't I just download a copy?</p>
                        <ul>
                            <li>I want to be able to check your e-mail address / company for legitimacy.</li>
                            <li>CV contains personal information.</li>
                        </ul>
                        <p>
                            Should you wish to retain my CV on file, you are required to inform the data subject (that's me!) 
                            how the information is going to be used as well as retained for.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}