input#id_captcha_1 {
    width: 40%;
    display: inline-block;
    margin-left: 2rem;
    position: absolute;
    margin-top: .5rem;
}

#div_id_captcha {
    margin-bottom: 0;
}

img.captcha {
    width: 20%;
    cursor: pointer;
}

.fa-check-circle {
    margin-top: 7.5rem;
    font-size: 7.5rem;
    color: #2b9b3e;
}

.fa-redo-alt {
    color: #fff;
    font-size: 14pt;
}

#error_id_captcha_1 {
    display: none;
}