@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.roboto {font-family: 'Roboto', sans-serif;}
.staal {font-family: 'Staaliches', sans-serif;}
.weight-400 {font-weight: 400;}
.weight-500 {font-weight: 500;}
.weight-700 {font-weight: 700;}
.weight-900 {font-weight: 900;}
.min-height {min-height: 25vh;}
.list-style-none {list-style: none;}
textarea {resize: none;}
.mouse-pointer {cursor: pointer;}
.fab.fa-linkedin-in, i.fab.fa-github {
    padding: 9px;
    border-radius: 50%;
    color: #fff;
    background-color: #303235;
    font-size: 14pt;
    background-size: 0% 100%;
    transition: background-size .5s, color, .5s;
}
.fab.fa-linkedin-in:hover {background-color: #0A66C2;}
.fab.fa-github:hover {background-color: #161B22;}