@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.roboto {
    font-family: 'Roboto', sans-serif;
}

.staal {
    font-family: 'Staaliches', sans-serif;
}

.weight-400 {
    font-weight: 400;
}

.weight-500 {
    font-weight: 500;
}

.weight-700 {
    font-weight: 700;
}

.weight-900 {
    font-weight: 900;
}

.min-height {
    min-height: 25vh;
}

.list-style-none {
    list-style: none;
}

textarea {
    resize: none;
}