{% extends 'base.html' %}
{% load static %}
{% block title %}
New Project
{% endblock title %}

{% block meta %}
<meta name="description" content="">
{% endblock meta%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/projects_view.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <div class="row">
        <form class="offset-md-3 col-md-6 col-sm-12" action="" method="POST">
            {% csrf_token %}
            <div class="text-center col-12">
                <h1 class="roboto weight-500">New Project</h1>
            </div>
            <div class="col-12 form-group">
                <label for="#name">Name</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="col-12 form-group">
                <label for="#description">Description</label>
                <textarea name="description" id="description" cols="30" class="form-control" rows="10"
                    required></textarea>
            </div>
            <div class="col-12 form-group">
                <label for="#notes">Notes</label>
                <textarea name="notes" id="notes" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12 text-center form-group">
                        <label for="#github_link">Github Link</label>
                        <input type="url" class="form-control" name="github_link" id="github_link">
                    </div>
                    <div class="col-md-6 col-sm-12 text-center form-group">
                        <label for="#live_link">Live Link</label>
                        <input type="url" class="form-control" name="live_link" id="live_link">
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-success">Create</button>
                <a href="{% url 'all_projects' %}" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}