{% extends 'base.html' %}
{% load static %}
{% block title %}
All Projects
{% endblock title %}

{% block meta %}
<meta name="description" content="">
{% endblock meta%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/all_projects.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1 class="roboto weight-500">Projects</h1>
    </div>
    <div class="text-right">
        <a href="" class="btn btn-success">Add New Project</a>
    </div>
    <div class="row">
        {% for p in projects %}
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-title">{{p.name}}</div>
                <p>{{p.description}}</p>
                <div class="row">
                    {% if p.github_link %}
                    <div class="col">
                        <a class="btn" target="_blank" href="{{ p.github_link }}">Github</a>
                    </div>
                    {% endif %}
                    {% if p.live_link %}
                    <div class="col">
                        <a class="btn" target="_blank" href="{{ p.live_link }}">Live Link</a>
                    </div>
                    {% endif %}
                    <div class="col text-right">
                        <a href="{% url 'project_view' p_id=p.id %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}