{% extends 'base.html' %}
{% load static %}
{% block title %}
400 Bad Request
{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/error_page.css' %}">
{% endblock css %}

{% block content %}
<div class="col-md-8 offset-md-2 col-12">
    <div class="card">
        <h2 class="staal">
            400 Bad Request 
        </h2>
        <p class="roboto">
            The server didn't understand the request your browser sent. 
        </p>
        <div class="mt-20">
            <a class="btn btn-primary my-5" href="{% url 'home' %}" role="button">Return to Homepage.</a>
        </div>
    </div>
</div>
{% endblock content %}