{% extends 'base.html' %}
{% load static %}
{% block title %}
403 Permission Denied
{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/error_page.css' %}">
{% endblock css %}

{% block content %}
<div class="offset-md-2 col-md-8 col-12">
    <div class="card">
        <h2 class="staal">
            403 Permission Denied
        </h2>
        <p class="roboto">
            Your access to this page has been denied.
        </p>
        <div class="mt-20">
            <a class="btn btn-primary my-5" href="{% url 'home' %}" role="button">Return to Homepage.</a>
        </div>
    </div>
</div>
{% endblock content %}