{% extends 'base.html' %}
{% load static %}
{% block title %}
404 Not Found
{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/error_page.css' %}">
{% endblock css %}

{% block content %}
<div class="offset-md-2 col-md-8 col-12">
    <div class="card">
        <div class="row">
            <div class="col-md-6 col-12">
                <h2 class="staal">
                    404 Page Not Found
                </h2>
                <p class="roboto">
                    We can't find what you're looking for.
                </p>
                <div class="mt-20">
                    <a class="btn btn-outline-primary my-5" href="{% url 'home' %}" role="button">Return to
                        Homepage.</a>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="text-center">
                    <img src="{% static 'images/travolta-gif.gif' %}" class="img-fluid" alt="We can't find what you're looking for.">
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}