{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block title %}
CV
{% endblock title %}

{% block meta %}
<meta name="description" content="Here is an online verison of my CV, outlining my previous experience, work and skills. 
You can download a copy of this at the bottom of the page.">
{% endblock meta %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cv.css' %}">
{% endblock css %}

{% block modals %}
<div class="modal" id="download-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a data-dismiss="modal" class="close" role="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
            <h5 class="modal-title">Downloading a copy of my CV</h5>
            <div class="font-size-14 roboto">
                <p>If you download my CV <b>please read it through before contacting me regarding a position or for a chat.</b></p>
                <p class="text-decoration-underline">Just for thought if you're storing my CV</p>
                
                <p>Should you wish to retain my CV on file, you are required to inform the data subject (that's me!) 
                    how the information is going to be used as well as retained for.
                </p>
            </div>
            <div class="my-3 text-center">
                <a href="{% static 'files/CV.pdf' %}" target="_blank" class="btn btn-primary">Download PDF</a>
            </div>
            <div class="text-right mt-20">
                <!-- text-right = text-align: right, mt-20 = margin-top: 2rem (20px) -->
                <a data-dismiss="modal" class="btn mr-5" role="button">Close</a>
            </div>
        </div>
    </div>
</div>
{% endblock modals %}

{% block content %}
<div class="container">
    <div class="text-center my-3">
        <h1 class="staal weight-700">CV</h1> 
    </div>
    <div class="row">
        <div class="col-12 mb-15">

            <!--Qualifications Profile-->
            <div class="col-12 my-15">
                <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="font-size-22 staal text-center">Qualifications Profile</div>
                    </div>
                    <div class="col-12 px-10">
                        <p>Technical-minded professional with 1 year experience in programming languages, Flask/Django frameworks, 
                            MongoDB, and PostgreSQL; well-prepared to excel in a challenging role such as a Python Developer.
                        </p>
                        <ul>
                            <li>
                                <strong>Software Development:</strong>
                                Demonstrated ability to design and develop software and technical solutions in 
                                line with client specifications. Recently completed diploma in Full Stack Software Development from Code 
                                Institute, Napier University. Excel at storing highly sensitive technical data.
                            </li>
                            <li>
                                <strong>Web/Application Development:</strong>
                                Able to write modular, reusable, version-controlled code to build 
                                responsive websites, as well as ability to develop custom web applications for internal and customer-facing 
                                audiences with a variety of functionalities and features.
                            </li>
                            <li>
                                <strong>Project Management:</strong>
                                Repeated success in managing multiple projects, consistently remaining on or ahead 
                                of schedule through effective prioritisation and planning.
                            </li>
                            <li>
                                <strong>Key Skills:</strong>
                                A fast learner, dedicated to continually learning emerging technologies, programming languages, 
                                techniques, and other best practices. Committed to work collaboratively with cross-functional teams to 
                                achieve collective goal and shared vision.                            
                            </li>
                        </ul>
                        <p class="text-decoration-underline">Technologies:</p>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Environments:</td>
                                    <td>UNIX, Windows 7/8/8.1/10</td>
                                </tr>
                                <tr>
                                    <td>Applications:</td>
                                    <td>MS Office (Word, Excel, Outlook, Powerpoint), Git</td>
                                </tr>
                                <tr>
                                    <td>Core Technology:</td>
                                    <td>HTML5, CSS3, Django, Flask, JavaScript, AXAJ, Bootstrap, jQuery, MongoDB, SQL, PostgreSQL, Chrome Developer Tools</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--Educational Background-->
            <div class="col-12 my-15">
                <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="font-size-22 staal text-center">Educational Background</div>
                    </div>
                    <div class="col-12 px-10">
                        <div class="text-center">
                            <p><strong>Diploma in Full Stack Software Development - 2020</strong><br>
                            Code Insitute, Napier University, Edinburgh, Scotland <br>
                            Code Institutes Software Development course consists of 4 milestone projects after different learning 
                            modules. After learning a new language or frameworks your skills are put to the test in a milestone 
                            projects.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Software Development Projects-->
            <div class="col-12 my-15">
                <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="font-size-22 staal text-center">Software Development Projects</div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 px-10">
                        <p class="text-decoration-underline">AutoSkunkWorks</p>
                        <div>
                            <p>Technologies: Ubuntu Server, Linux, Nginx, Postgres, Django, Bootstrap, HTML, CSS, JavaScript (jQuery)</p>
                            <ul>
                                <li>A Django and live version of <a href="https://github.com/msped/AutoLog" target="_blank">AutoLog</a> deployed on a DigitalOcean Ubuntu Server. <br>
                                    <a href="https://github.com/msped/autoskunkworks" target="_blank">Github</a>  <a href="https://autoskunkworks.herokuapp.com/" target="_blank">Live Site</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 px-10">
                        <p class="text-decoration-underline">Check the Match</p>
                        <div>
                            <p>Technologies: HTML, CSS, React, Football API, React Router DOM, Material UI</p>
                            <ul>
                                <li>A React Application to view football statistics without seeing the final score of a match.<br>
                                    <a href="https://github.com/msped/checkthematch" target="_blank">Github</a>  <a href="https://checkthematch.herokuapp.com/" target="_blank">Live Site</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 px-10">
                        <p class="text-decoration-underline">Project Parts</p>
                        <div>
                            <p>Technologies: PostgreSQL, Django, HTML, CSS, jQuery, AJAX, Stripe.js, Heroku</p>
                            <ul>
                                <li>An online competition for car modifications built in Pythons Django Framework.<br>
                                    <a href="https://github.com/msped/projectparts" target="_blank">Github</a> <a href="https://projectparts.herokuapp.com/" target="_blank">Live Site</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12">
                        <p>Fore more projects, visit the <a href="{% url 'development' %}">developement</a> page.</p>
                    </div>
                </div>
            </div>

            <!--Professional Experience-->
            <div class="col-12 my-15">
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="font-size-22 staal text-center">Professional Experience</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 px-10">
                        <p class="text-decoration-underline">Cheshire Police, Winsford</p>
                        <div>
                            <span><strong>Data Management Assistant</strong>, 08/2016 - Present</span>

                            <p><strong>Key Accomplishments</strong></p>
                            <p>Serve as a proactive part of the team, managing, storing, and distributing highly sensitive technical files. Ensure 
                                storage and security of the sensitive data and confidential technical material. Build and maintain long-term 
                                professional relationships with third party offsite storage providers. Manage sensitive digitally recording 
                                interviews with stakeholders within courts, legal entities, state managed bodies, and solicitors in line with data 
                                protection legislation.
                            </p>
                            <ul>
                                <li>Recorded and updated 722 records to reflect correct offence for retention and future searches.</li>
                                <li>Successfully located 100+ unaccounted for items and returned for storage and retention.</li>
                                <li>Examined 800 media boxes prior to destruction to split serious crimes from volume crime.</li>
                                <li>Slashed security incidents by updating metadata and forwarded information to information 
                                    commissioner's office.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 px-10">
                        <p class="text-decoration-underline">Asda, Winsford</p>
                        <div>
                            <span><strong>Sales Adviser</strong>, 11/2013 - 07/2016</span>

                            <p><strong>Key Accomplishments</strong></p>
                            <p>Supported ample amount customers in shopping, educating them about product features and recommending 
                                products following their requirements. Developed and strengthened long-term professional relationships with 
                                all customers for repeat business. Supervised daily stock levels, ensured enough products were consistently 
                                available for the consumers and regularly checked and updated stock prices to ensure clarification at the front 
                                end for all consumers.
                            </p>
                            <ul>
                                <li>Rearranged 15 aisles within strict time frames (8pm-9am) to prepared plans for store reinvention</li>
                                <li> Consistently met deadlines and targets ready for opportunity every day.</li>
                                <li> Accomplished customer satisfaction to a high level by greeting customers and ensuring their needs were 
                                    met.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            {% if code %}
            <div class="col-12 my-15">
                <div class="text-center">
                    If you are contacting me please quote <i>'{{ code }}'</i> in your correspondence.
                </div>
            </div>
            {% endif %}

            <div class="col-12 text-center">
                <a data-toggle="modal" data-target="download-modal" class="btn btn-primary my-15" role="button">Download <i class="fas fa-download"></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
